{% capture arrow_right %}<svg xmlns="http://www.w3.org/2000/svg" width="4" height="6" viewBox="0 0 4 6" fill="none"><path d="M4 3.21318L0 5.5V4.83463L3.28033 3L3.24686 3.05814V2.92894L3.28033 2.98708L0 1.16537V0.5L4 2.78036V3.21318Z" fill="#25282A"/></svg>{% endcapture %}
<style>
  .breadcrumb-bar {
    margin-bottom: 40px;
  }
  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 6px 0;
    border-top: 1px solid #25282a20;
    border-bottom: 1px solid #25282a20;
  }
  .breadcrumb>span,
  .breadcrumb>a{
    color: #25282ad4;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.5px;
    display: block;
  }
</style>

<div class="breadcrumb-bar container">
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

  <a href="/" title="Home">Home</a>

  {% if template contains 'page' %}

    {% if page.metafields.custom.has_parent_page.value != blank %}
      {% assign page_value = page.metafields.custom.has_parent_page.value %}
      <span aria-hidden="true">{{ arrow_right }}</span>
      <a href="{{page_value.page_url.value}}" title="{{page_value.page_title.value}}">{{page_value.page_title.value}}</a>
    {% endif %}
    <span aria-hidden="true">{{ arrow_right }}</span>
    <span>{{ page.title }}</span>

  {% elsif template contains 'product' %}

    {% if collection.url %}

      <span aria-hidden="true">{{ arrow_right }}</span>

      {{ collection.title | link_to: collection.url }}

    {% endif %}

    <span aria-hidden="true">{{ arrow_right }}</span>

    <span>{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    <span aria-hidden="true">{{ arrow_right }}</span>

    {% if current_tags %}

      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}

      {{ collection.title | link_to: url }}

      <span aria-hidden="true">{{ arrow_right }}</span>

      <span>{{ current_tags | join: " + " }}</span>

    {% else %}

      <span>{{ collection.title }}</span>

    {% endif %}

  {% elsif template == 'blog' %}

    <span aria-hidden="true">{{ arrow_right }}</span>

    {% if current_tags %}

      {{ blog.title | link_to: blog.url }}

      <span aria-hidden="true">{{ arrow_right }}</span>

      <span>{{ current_tags | join: " + " }}</span>

    {% else %}

    <span>{{ blog.title }}</span>

    {% endif %}

  {% elsif template == 'article' %}

    <span aria-hidden="true">{{ arrow_right }}</span>

    {{ blog.title | link_to: blog.url }}

    <span aria-hidden="true">{{ arrow_right }}</span>

    <span>{{ article.title }}</span>

  {% else %}

   <span aria-hidden="true">{{ arrow_right }}</span>

   <span>{{ page_title }}</span>

  {% endif %}

</nav>
</div>