<style>
  #shopify-section-{{section.id}} {
    padding: {{section.settings.pt}}px 0 {{section.settings.pb}}px;
  }
  .custom-blog-card .blog-wrapper{
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }
  .custom-blog-card .blog-wrapper .media-box{
    width: calc((100% - 60px)/2);
  }
  .custom-blog-card .blog-wrapper .media-box video{
    width: 100%;
  }
  .custom-blog-card .blog-wrapper .content-box{
    width: calc((100% - 60px)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .custom-blog-card .title{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
    letter-spacing: 1.1px;
  }
  .custom-blog-card .date{
    color: #25282A;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    letter-spacing: 0.8px;
  }
  @media screen and (max-width: 999px) {
    #shopify-section-{{section.id}} {
      padding: {{section.settings.pt_m}}px 0 {{section.settings.pb_m}}px;
    }
  }
  @media screen and (max-width: 699px) {
    .custom-blog-card .blog-wrapper{
      flex-direction: column;
      gap: 10px;
    }
    .custom-blog-card .blog-wrapper .media-box{
      width: 100%;
    }
    .custom-blog-card .blog-wrapper .content-box{
      width: 100%;
    }
    .custom-blog-card .title{
      font-size: 18px;
    }
    .custom-blog-card .date{
      font-size: 14px;
    }
  }
</style>

{% assign ss = section.settings %}

<div class="container container--xl">
  <div class="blog-wrapper">
    <div class="media-box">
      {% if ss.use_video %}
        {% if ss.autoplay %}
          {{ ss.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, image_size: 'master', class:'sm-max:hidden' }}
          {% if ss.mobile_video != blank %}
            {{ ss.mobile_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, image_size: 'master', class:' sm:hidden' }}
          {% endif %}
        {% else %}
          {{ ss.video | video_tag: autoplay: false, loop: true, muted: true, controls: false, playsinline: true, image_size: 'master', class:'sm-max:hidden' }}
          {% if ss.mobile_video != blank %}
            {{ ss.mobile_video | video_tag: autoplay: false, loop: true, muted: true, controls: false, playsinline: true, image_size: 'master', class:' sm:hidden' }}
          {% endif %}
          <div class="play-btn">
            {% render 'play-video' %} 
          </div>
        {% endif %}
      {% else %}
        {% if ss.img != blank %}
          <picture>
            {%- if ss.img_m != blank -%}
              <source
                media="(max-width: 699px)"
                srcset="{{ ss.img_m | image_url: width: '400x' }} 400w, {{ ss.img_m | image_url: width: '600x' }} 600w, {{ ss.img_m | image_url: width: '800x' }} 800w, {{ ss.img_m | image_url: width: '1000x' }} 1000w, {{ ss.img_m | image_url: width: '1200x' }} 1200w"
                width="{{ ss.img_m.width }}"
                height="{{ ss.img_m.height }}">
            {%- endif -%}
            {{- ss.img | image_url: width: ss.img.width | image_tag: sizes: '100vw', widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
          </picture>
        {% endif %}
      {% endif %}
    </div>
    <div class="content-box">
    {% if ss.text != blank %}
      <div class="title">{{ss.text}}</div>
    {% endif %}
    {% if ss.date != blank %}
      <div class="date">{{ss.date}}</div>
    {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "custom blog card",
    "class": "custom-blog-card",
    "tag": "section",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "range",
        "id": "pt",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding top",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding bottom",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pt_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding top Mobile",
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding bottom Mobile",
        "default": 60,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
            "type": "image_picker",
            "id": "img",
            "label": "Image PC"
          },
          {
            "type": "image_picker",
            "id": "img_m",
            "label": "Image Mobile"
          },
          {
            "type": "checkbox",
            "id": "use_video",
            "label": "Use video",
            "default": true,
            "info": "Image will be the post image if video is used"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video PC"
          },
          {
            "type": "video",
            "id": "mobile_video",
            "label": "Video Mobile"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link url"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Link text"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date"
          }
    ],
    "presets": [
      {
        "name": "custom blog card"
      }
    ]
  }
{% endschema %}