{% assign sid = section.id %}

<div class="index-products">
  <div class="swiper index-products_swiper">
    <div class="swiper-wrapper">

      {% for block in section.blocks %} 
        {% liquid
          assign bs = block.settings
          assign product = bs.product
          assign img_one = bs.img1
          assign img_two = bs.img2
        %}
        <div class="swiper-slide">
          <div class="e_product_item">
            <a href="{{ product.url }}">
              <div class="e_meida">
                {% if img_one != blank %}
                {{ img_one | image_url: width: '500x' | image_tag: class:"first" }}
                {% else %}
                {{ product.images[0] | image_url: width: '500x' | image_tag: class:"first" }}
                {% endif %}
                {% if img_two != blank %}
                {{ img_two | image_url: width: '500x' | image_tag: class:"second" }}
                {% else %}
                {{ product.images[1] | image_url: width: '500x' | image_tag: class:"second" }}
                {% endif %}
              </div>
              <div class="e_info">
                <h3>{{ product.title }}</h3>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>  
</div>


{% schema %}
  {
    "name": "Index products",
    "settings": [
    ],
    "blocks": [
      {
        "type": "product",
        "name":"product",
        "settings":[
          {
            "type": "product",
            "id": "product",
            "label": "product"
          },
          {
              "type": "image_picker",
              "id": "img1",
              "label": "image "
            },
            {
              "type": "image_picker",
              "id": "img2",
              "label": "image （hover）"
            }
        ]
      }
    ],
    "presets":[
      {
    "name": "Index products"
      }
    ]
  }
{% endschema %}