{% assign sid = section.id %}

<style>
  .e_product_item{
    max-width:500px;
    text-align:center;
  }
  .e_product_item .e_meida{
    position:relative;
  }
  .e_product_item .e_meida img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
  }
  .e_product_item .e_meida .second{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:all 0.3s ease-in;
    z-index:1;
    opacity:0;
    visibility: hidden;
  }
  .e_product_item:hover .e_meida .first{
    opacity:0;
    visibility: hidden;
  }
  .e_product_item:hover .e_meida .second{
    opacity:1;
    visibility: visible;
  }
  .e_product_item .e_info h3{
    color: #1D1D1D;
    font-weight: 500;
    margin-top:{{20 | times:100.0 |divided_by:1920.0 | append:'vw'}}; 
    font-size:{{20 | times:100.0 |divided_by:1920.0 | append:'vw'}}; 
    line-height: 1.2;
    min-height:calc({{20 | times:100.0 |divided_by:1920.0 | append:'vw'}}*1.2*2);
  }
  .e_product_item .e_info .price{
    font-weight: 500;
    margin-top:{{20 | times:100.0 |divided_by:1920.0 | append:'vw'}}; 
    font-size:{{24 | times:100.0 |divided_by:1920.0 | append:'vw'}}; 
  }
  @media (max-width:1024px){
    .e_product_item .e_info h3{
      margin-top:{{20 | times:100.0 |divided_by:1280.0 | append:'vw'}}; 
      font-size:{{20 | times:100.0 |divided_by:1280.0 | append:'vw'}}; 
      min-height:calc({{20 | times:100.0 |divided_by:1280.0 | append:'vw'}}*1.2*2);
    }
    .e_product_item .e_info .price{
      margin-top:{{20 | times:100.0 |divided_by:1280.0 | append:'vw'}}; 
      font-size:{{24 | times:100.0 |divided_by:1280.0 | append:'vw'}}; 
    }
  }
  @media (max-width:767px){
    .e_product_item .e_meida img{
      background:unset;
    }
    .e_product_item .e_info h3{
      margin-top:{{20 | times:100.0 |divided_by:750.0 | append:'vw'}}; 
      font-size:{{24 | times:100.0 |divided_by:750.0 | append:'vw'}}; 
      min-height:calc({{24 | times:100.0 |divided_by:750.0 | append:'vw'}}*1.2*3);
    }
    .e_product_item .e_info .price{
      margin-top:{{20 | times:100.0 |divided_by:750.0 | append:'vw'}}; 
      font-size:{{28 | times:100.0 |divided_by:750.0 | append:'vw'}}; 
    }
  }
</style>

<div class="index-products">
  <div class="swiper index-products_swiper">
    <div class="swiper-wrapper">

      {% for block in section.blocks %} 
        {% liquid
          assign bs = block.settings
          assign product = bs.product
          assign img_one = bs.img1
          assign img_two = bs.img2
        %}
        <div class="swiper-slide">
          <div class="e_product_item">
            <a href="{{ product.url }}">
              <div class="e_meida">
                {% if img_one != blank %}
                {{ img_one | image_url: width: '500x' | image_tag: class:"first" }}
                {% else %}
                {{ product.images[0] | image_url: width: '500x' | image_tag: class:"first" }}
                {% endif %}
                {% if img_two != blank %}
                {{ img_two | image_url: width: '500x' | image_tag: class:"second" }}
                {% else %}
                {{ product.images[1] | image_url: width: '500x' | image_tag: class:"second" }}
                {% endif %}
              </div>
              <div class="e_info">
                <h3>{{ product.title }}</h3>
                {% if product.metafields.custom.short.value != blank %} 
                  <p class="short">{{product.metafields.custom.short.value}}</p>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>  
</div>


{% schema %}
  {
    "name": "Index products",
    "settings": [
    ],
    "blocks": [
      {
        "type": "product",
        "name":"product",
        "settings":[
          {
            "type": "product",
            "id": "product",
            "label": "product"
          },
          {
              "type": "image_picker",
              "id": "img1",
              "label": "image "
            },
            {
              "type": "image_picker",
              "id": "img2",
              "label": "image （hover）"
            }
        ]
      }
    ],
    "presets":[
      {
    "name": "Index products"
      }
    ]
  }
{% endschema %}