<style>
  .customer-account-div{
    width:50%;float:left;
    padding-top:130px;
  }
  .customer-account-box{
    width:50%;margin:auto;
    text-align:left;
  }

  .section-spacing{
    padding:0px
  }

  .customer-account-div input 
  {border:none;
    border-bottom:1px solid #aaa;
    padding-left:2px;}

  @media (max-width: 767px) {
    .image-with-text{display:none}

  .customer-account-div{
    float: none; 
    width:100%;
     padding-top:60px;
  }
  .customer-account-box{
    width:70%;margin:auto
  }
}
</style>
<div class="section-spacing">
  <div class="container">
    <div style="" class="customer-account-div">
      <account-login class="customer-account-box" style="">
      <div class="v-stack gap-6" id="login">
        <div class="v-stack gap-4">
          <h1 class="h3">{{ 'customer.login.title' | t }}</h1>
          <!-- <p>{{ 'customer.login.instructions' | t }}</p> -->
        </div>

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {%- render block -%}

            {%- when 'liquid' -%}
              {%- if block.settings.liquid != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.liquid -}}
                </div>
              {%- endif -%}

            {%- when 'fields' -%}
              <div {{ block.shopify_attributes }}>
                {%- capture _form_recover_capture -%}
                  {%- form 'recover_customer_password' -%}
                    {%- capture form_recover_status -%}
                      {%- if form.posted_successfully? -%}
                        {%- assign success_message = 'customer.recover_password.success_message' | t -%}
                        {%- render 'banner', status: 'success', content: success_message -%}
                      {%- endif -%}
                    {%- endcapture -%}
                  {%- endform -%}
                {%- endcapture -%}

                {%- form 'customer_login', class: 'form' -%}
                  <input type="hidden" name="checkout_url" value="{{ block.settings.return_to | default: routes.account_url }}">

                  <div class="fieldset">
                    {%- if form.errors -%}
                      {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
                    {%- endif -%}

                    {%- if form_recover_status != blank -%}
                      {{- form_recover_status -}}
                    {%- endif -%}

                    {%- assign email_label = 'customer.login.email' | t -%}
                    {%- render 'input', type: 'email', name: 'customer[email]', label: email_label, autocomplete: 'email', required: true -%}

                    <div class="relative">
                      {%- assign password_label = 'customer.login.password' | t -%}
                      {%- render 'input', type: 'password', name: 'customer[password]', label: password_label, autocomplete: 'current-password', required: true -%}

                      <div class="input-suffix hide-on-focus">
                        <a href="#recover" allow-hash-change class="text-xs link-faded">{{ 'customer.login.forgot_password' | t }}</a>
                      </div>
                    </div>
                  </div>

                  {%- assign submit_label = 'customer.login.submit' | t -%}
                  {%- render 'button', content: 'SIGN IN', type: 'submit' -%}
                  <button class="button" onclick="window.location.href='{{ routes.account_register_url }}'">CREATE ACCOUNT</button>

                  <div style="display:none">
                    <span class="text-subdued">{{ 'customer.login.no_account' | t }}</span>
                    <a href="{{ routes.account_register_url }}" class="link-faded">{{ 'customer.login.sign_up' | t }}</a>
                  </div>
                {%- endform -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="v-stack gap-6" id="recover" hidden>
        <div class="v-stack gap-4">
          <h1 class="h3">{{ 'customer.recover_password.title' | t }}</h1>
          <p>{{ 'customer.recover_password.instructions' | t }}</p>
        </div>

        {%- form 'recover_customer_password', class: 'form' -%}
          <div class="fieldset">
            {%- if form.errors -%}
              {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
            {%- endif -%}

            {%- assign email_label = 'customer.recover_password.email' | t -%}
            {%- render 'input', type: 'email', name: 'email', label: email_label, autocomplete: 'email', required: true -%}
          </div>

          {%- unless form.posted_successfully? -%}
            {%- assign submit_label = 'customer.recover_password.submit' | t -%}
            {%- render 'button', content: 'SIGN IN', type: 'submit' -%}
            
            
            
          {%- endunless -%}
          
          <div>
            <span class="text-subdued">{{ 'customer.recover_password.remember_password' | t }}</span>
            <a href="#login" allow-hash-change class="link-faded">{{ 'customer.recover_password.back_to_login' | t }}</a>
          </div>
        {%- endform -%}
      </div>
    </account-login>
    </div>
    

    <image-with-text class="image-with-text image-with-text--reverse" style="grid-template-columns: repeat(1, minmax(0, 1fr));">
      <picture>
        {%- assign sizes = '(max-width: 699px) 100vw, 50vw' -%}
  
        {%- if section.settings.mobile_image != blank -%}
          <source
              media="(max-width: 699px)"
              srcset="{{ section.settings.mobile_image | image_url: width: 400 }} 400w, {{ section.settings.mobile_image | image_url: width: 600 }} 600w, {{ section.settings.mobile_image | image_url: width: 800 }} 800w, {{ section.settings.mobile_image | image_url: width: 1000 }} 1000w"
              width="{{ section.settings.mobile_image.width }}"
              height="{{ section.settings.mobile_image.height }}"
          >
        {%- endif -%}
  
        {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', reveal-on-scroll: section.settings.reveal_on_scroll -}}
      </picture>
    </image-with-text>
    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_customers_login.name",
  "class": "shopify-section--main-customers-login",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:sections.image_with_text.image_size_recommendation"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.image_with_text.mobile_image_size_recommendation"
    },
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "t:global.animation.reveal_image_on_scroll",
      "default": true
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image_with_text.image_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "t:global.spacing.remove_vertical_spacing",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fields",
      "name": "t:sections.main_customers_login.blocks.fields.name",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "return_to",
          "label": "t:sections.main_customers_login.blocks.fields.redirect_upon_login",
          "info": "t:sections.main_customers_login.blocks.fields.redirect_upon_login_info"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.main_customers_login.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid"
        }
      ]
    }
  ],
  "presets":[{
    "name": "t:sections.image_with_text.presets.image_with_text.name",
    "settings": {
        "color_scheme": "",
        "separate_section_with_border": true,
        "image": "shopify://shop_images/image_5.png",
        "reveal_on_scroll": true,
        "image_position": "start",
        "content_width": "sm",
        "remove_vertical_spacing": true
      }
  }]
}
{% endschema %}