{%- unless request.page_type == 'captcha' or section.settings.show_only_on_index and template != 'index' -%}
  {%- unless section.settings.show_only_for_visitors and customer -%}
    {%- assign posted_successfully = false -%}
    {%- assign newsletter_id = 'newsletter-' | append: section.id -%}

    {%- capture _temporary -%}
    
      {%- form 'customer', id: newsletter_id, class: 'form' -%}
        {%- assign posted_successfully = form.posted_successfully? -%}
        
      {%- endform -%}
    {%- endcapture -%}

    {% if posted_successfully %}
        {% assign letter_class = "letter_is_success" %}
    {% else %}
        {% assign letter_class = "letter_need_enter" %}
    {% endif %}

    <newsletter-popup id="subscribe-popup" class=" {{ letter_class }} newsletter-popup color-scheme color-scheme--{{ section.settings.color_scheme.id }}" title="Newsletter popup" {% if section.settings.show_only_once %}only-once{% endif %} apparition-delay="{{ section.settings.apparition_delay }}" {% if posted_successfully %}open{% endif %} handle-editor-events>
      <dialog-close-button class="contents">
        <button class="pop-in__close-button tap-area">
          <span class="sr-only">{{ 'general.accessibility.close' | t }}</span>
          {%- render 'icon' with 'close' -%}
        </button>
      </dialog-close-button>

      <div style="display:flex">
        <div class="subscribe-info">
        {%- if section.settings.title != blank or section.settings.content != blank -%}
          <div class=" " style="margin-bottom:10px;">
            {%- if section.settings.title != blank -%}
              <p class="h4">{{ section.settings.title }}</p>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              <div class="prose">
                {{ section.settings.content }}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_newsletter_form -%}
          {%- form 'customer', id: newsletter_id, class: 'form' -%}
            {%- if form.posted_successfully? -%}
              {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
              {%- render 'banner', content: success_message, status: 'success', text_alignment: 'center' -%}

              <script>
                localStorage.setItem('theme:popup-filled', 'true');
              </script>
            {%- else -%}
              {%- if form.errors -%}
                {%- assign content = form.errors | default_errors -%}
                {%- render 'banner', status: 'error', content: content, text_alignment: 'center' -%}
              {%- endif -%}

              <div class="fieldset">
                <input type="hidden" name="contact[tags]" value="newsletter">

                {%- assign label = 'Your E-mail'  -%}
                {%- render 'input', type: 'email', name: 'contact[email]', label: label, value: customer.email, required: true, autocomplete: 'email' -%}
              </div>

              {%- render 'button', content: section.settings.button_text, type: 'submit' -%}

              <div style="padding-top:5px;">
                {{ section.settings.content2}}
                
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
      </div>
      <div class="media">
            
           <picture>
             {% liquid 
                    assign alt = section.settings.img.alt
                    %}
             
             <source
                                srcset="{{ section.settings.img  | img_url: '2160x'}}"
                                media="(max-width: 375px)"
                              >
             <img src="{{ section.settings.img | img_url: '2160x'}}" alt="{{ alt }}" loading="lazy" width="auto" height="100%">
           </picture>
        </div>
        
      
      </div>
      
    </newsletter-popup>
  {%- endunless -%}
{%- endunless -%}

<script>
  window.addEventListener('load', function () {
  // 显示订阅弹框
  const subscribePopup = document.getElementById('subscribe-popup');
    subscribePopup.style.display = 'block';
    setTimeout(function(){
      
       // subscribePopup.style.opacity = 1;
      subscribePopup.classList.add('show')
    },3000);
  

  // 关闭弹框
  const closeButton = document.getElementById('pop-in__close-button');
  
  closeButton.addEventListener('click', function () {
    subscribePopup.style.display = 'none';
   
  });
  subscribePopup.appendChild(closeButton);
});
</script>
<style>
  #subscribe-popup {
  position: fixed;
  
  transform: translate(-50%, -50%) ;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  padding-top:46px;
    padding-right:0px;
    transition: opacity 0.6s ease-in-out; /* 添加透明度渐变效果，时长 1 秒 */
    color:#25282A;
    width:auto;
    font-size:12px;
    width:800px;
    display:none;
    opacity: 0; /* 初始透明度为 0，即隐藏 */
    transition: opacity 0.6s ease-in-out; /* 添加透明度渐变效果，时长 1 秒 */
}

  #subscribe-popup .h4{
    font-size:14px;
  }

  #subscribe-popup .form{
    gap:2px;
  }
  #subscribe-popup.letter_need_enter{
    top: 50%;
  left: 50%;
  }
  
  #subscribe-popup.letter_is_success{
    padding-right:20px;
    right:8px;
    bottom:8px;
  }

  #subscribe-popup input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

  .letter_need_enter .subscribe-info{
    width:50%;
    padding-right:20px;
  }
   #subscribe-popup.letter_need_enter .media{
     width:50%;
   }
  .letter_is_success  .media{
    display:none;
  }

  #subscribe-popup input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border:none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

  @media (max-width: 1000px) {
      #subscribe-popup .media{
       display:none;
     }
    .subscribe-info{
      width:90%
    }
    #subscribe-popup{
      width:auto
    }
  }

  /* 超小屏幕移动端（宽度小于 576px） */
  @media (max-width: 575px) {
      #subscribe-popup .media{
       display:none;
     }
     #subscribe-popup{
      width:auto
    }
    .subscribe-info{
    width:90%;
      min-width:310px;
  }
    
  }
</style>
{% schema %}
{
  "name": "t:sections.newsletter_popup.name",
  "class": "shopify-section--popup",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter_popup.instructions"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-3"
    },
    {
      "type": "range",
      "id": "apparition_delay",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "label": "t:sections.newsletter_popup.delay",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_only_on_index",
      "label": "t:sections.newsletter_popup.show_only_on_home_page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_for_account_holders",
      "label": "t:sections.newsletter_popup.hide_for_account_holders",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_only_once",
      "label": "t:sections.newsletter_popup.show_only_once",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_newsletter_form",
      "label": "t:sections.newsletter_popup.show_newsletter_form",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "Signup for our newsletter"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "t:global.text.content",
      "default": "Describe what your customers will receive when subscribing to your newsletter."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text",
      "default": "Subscribe"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Content2"
    },
    {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
      }
  ]
}
{% endschema %}
