<style>
  .product-features {}
.product-features .section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #25282A;
  padding: 0 24px;
  margin-bottom: 32px;
}
.product-features .top-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 40px;
  gap: 20px;
  overflow-x: auto;
}
.product-features .img-wrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #F7F7F6;
  padding: 54px 0;
}
.product-features .text{
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
  margin: 30px 0 0;
}
.product-features .img-wrapper .img-box{
  flex: 1;
  max-width: 491px;
}
.product-features .img-wrapper img{
  
}
.product-features .top-wrapper .name {
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  border-radius: 2px;
  border: 0.5px solid #25282A;
  font-weight: 400;
  line-height: 19.6px;
  /* 140% */
  letter-spacing: 0.7px;
  cursor: pointer;
}
.product-features .top-wrapper .name.active {
  background: #25282A;
  color: #FFF
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
  display: none;
}

@media screen and (max-width: 1024px){
  .product-features .text{
    font-size: 12px;
    margin: 15px 0 0;
    padding: 0 10px;
  }
}
@media screen and (max-width: 699px) {
  .product-features .img-wrapper{
    padding: 27px 0;
  }
  .product-features .img-wrapper .img-box{
    max-width: 200px;
  }
  .product-features .section-title {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .product-features .top-wrapper {
    padding: 0 16px 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .product-features .top-wrapper .name{
    font-size: 9px;
    width: 62px;
    text-align: center;
    padding: 2px 15px;
  }
  .product-features .top-wrapper{
    margin-bottom: 30px;
  }
}
</style>


<div class="">
  <h2 class="section-title">{{ section.settings.title }}</h2>
  <div class="top-wrapper">
    {% for block in section.blocks %}
      <div class="name {% if forloop.first %}active{% endif %}">{{ block.settings.name }}</div>
    {% endfor %}
  </div>
  <div class="bottom-wrapper swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign alt = block.settings.name %}
        <div class="swiper-slide item">
          <div class="img-wrapper">
            
            {% if block.settings.img != blank %}
              <div class="img-box">
                <picture>
                  {% if block.settings.img_m != blank %}
                    <source srcset="{{ block.settings.img_m | img_url: '750x' }}" media="(max-width: 375px)">
                    <source srcset="{{ block.settings.img_m | img_url: '1000x' }}" media="(max-width: 767px)">
                  {% endif %}
                  <source srcset="{{ block.settings.img | img_url: '2160x' }}" media="(max-width: 1080px)">
                  <img
                    src="{{ block.settings.img | img_url: '2400x' }}"
                    alt="{{ alt }}"
                    loading="lazy"
                    width="auto"
                    height="100%">
                </picture>
                {% if block.settings.text != blank %}
                  <div class="text">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            {% endif %}
            {% if block.settings.img_2 != blank %}
              <div class="img-box">
                <picture>
                  {% if block.settings.img_2_m != blank %}
                    <source srcset="{{ block.settings.img_2_m | img_url: '750x' }}" media="(max-width: 375px)">
                    <source srcset="{{ block.settings.img_2_m | img_url: '1000x' }}" media="(max-width: 767px)">
                  {% endif %}
                  <source srcset="{{ block.settings.img_2 | img_url: '2160x' }}" media="(max-width: 1080px)">
                  <img
                    src="{{ block.settings.img_2 | img_url: '2400x' }}"
                    alt="{{ alt }}"
                    loading="lazy"
                    width="auto"
                    height="100%">
                </picture>
                {% if block.settings.text_2 != blank %}
                  <div class="text">{{ block.settings.text_2 }}</div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev prev_button">
      {%  render 'swiper-prev' %}
    </div>
    <div class="swiper-button-next next_button">
      {%  render 'swiper-next' %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let features_swiper = new Swiper('.product-features .bottom-wrapper', {
      spaceBetween: 10,
      slidesPerView: 1,
      navigation: {
        prevEl: '.product-features .prev_button',
        nextEl: '.product-features .next_button',
      },
      on: {
        slideChangeTransitionEnd:function(event){
          $('.product-features .top-wrapper .name').removeClass('active');
          $('.product-features .top-wrapper .name').eq(features_swiper.activeIndex).addClass('active');
        }
      }
    });
  
    $('.product-features .top-wrapper .name').click(function(){
      $('.product-features .top-wrapper .name').removeClass('active');
      $(this).addClass('active');
      features_swiper.slideTo($(this).index());
    })
  })
</script>

{% schema %}
  {
    "name": "product features",
    "class": "product-features",
    "limit": 1,
    "tag": "section",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Product Features"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Title",
            "default": "Inside"
          }, {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_m",
            "label": "Image Mobile"
          },{
            "type": "textarea",
            "id": "text",
            "label": "Image text"
          },
          {
            "type": "image_picker",
            "id": "img_2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "img_2_m",
            "label": "Image 2 Mobile"
          },
          {
            "type": "textarea",
            "id": "text_2",
            "label": "Image text 2"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "product features"
      }
    ]
  }
{% endschema %}