{% assign sid = section.id %}
<style>
    #shopify-section-{{sid}}{
        {%if section.settings.type == 'padding' %}
            padding-top:{{section.settings.top |  append: 'px'}};
            padding-bottom:{{section.settings.bottom |  append: 'px'}};
            {%  else %} 
            margin-top:{{section.settings.top |  append: 'px'}};
            margin-bottom:{{section.settings.bottom |  append: 'px'}};
            {%  endif %} 
    } 
    #shopify-section-{{sid}} .container {
        /* display: flex;
        gap: 24px;
        overflow-x: auto;
        scrollbar-width: none; */
    }
    #shopify-section-{{sid}} .container_inner{
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        --gap:80px;
        gap: var(--gap);
    }
    @media (max-width:767px){
        #shopify-section-{{sid}}{
            {%if section.settings.type == 'padding' %}
                padding-top:{{section.settings.top_m |  append: 'px'}};
                padding-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  else %} 
                margin-top:{{section.settings.top_m |  append: 'px'}};
                margin-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  endif %} 
        }   
    }
</style>

<div class="container">
    <div class="container_inner">
        {% for block in section.blocks %}
            {% assign bs = block.settings %}
            <div class="item">
                <h4>{{bs.text}}</h4>
                <div class="">{{bs.content}}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Section product details",
    "class": "custom-product-details",
    "settings": [
        {
            "type": "select",
            "id": "type",
            "default":"margin",
            "label": "Padding or Margin",
            "options": [
                {
                    "label": "Padding",
                    "value": "padding"
                },
                {
                    "label": "Margin",
                    "value": "margin"
                }
            ]
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        {
          "type": "range",
          "id": "top",
          "label": "Top",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom",
          "label": "Bottom",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
            "type": "header",
            "content": "mobile"
        },
        {
          "type": "range",
          "id": "top_m",
          "label": "Top",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom_m",
          "label": "Bottom",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "item",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {"name": "Section product details"}
    ]
}
{% endschema %}