<style>
.product-cards {
  padding: 112px 0 0;
}
.product-cards .section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #25282A;
  padding: 0 24px;
  margin-bottom: 32px;
}
@media screen and (max-width: 999px) {
  .product-cards {
    padding: 64px 0 0;
  }
}
@media screen and (max-width: 699px) {
  .product-cards .section-title {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}
</style>


<div class="">
  <h2 class="section-title">{{ section.settings.title }}</h2>

  <div class="cards-wrapper swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign alt = block.settings.name %}
        <div class="swiper-slide item">
          <div class="img-wrapper">
            {% if block.settings.img != blank %}
              <picture>
                {% if block.settings.img_m != blank %}
                  <source srcset="{{ block.settings.img_m | img_url: '750x' }}" media="(max-width: 375px)">
                  <source srcset="{{ block.settings.img_m | img_url: '1000x' }}" media="(max-width: 767px)">
                {% endif %}
                <source srcset="{{ block.settings.img | img_url: '2160x' }}" media="(max-width: 1080px)">
                <img
                  src="{{ block.settings.img | img_url: '2400x' }}"
                  alt="{{ alt }}"
                  loading="lazy"
                  width="auto"
                  height="100%">
              </picture>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let cards_swiper = new Swiper('.product-cards .cards-wrapper', {
      spaceBetween: 10,
      slidesPerView: 1,
      breakpoints: { 
        320: { 
          slidesPerView: 1.5,
          spaceBetween: 12
        },
        768: {   
          slidesPerView: 4.5,
          spaceBetween: 14
        },
        1280: {  
          slidesPerView: 5,
          spaceBetween: 16
        }
      }
    });
  })
</script>

{% schema %}
  {
    "name": "product cards",
    "class": "product-cards",
    "limit": 1,
    "tag": "section",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Caprure on you"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }, {
            "type": "image_picker",
            "id": "img_m",
            "label": "Image Mobile"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "product cards"
      }
    ]
  }
{% endschema %}