
<style>
#shopify-section-{{section.id}} {
  padding: {{section.settings.pt}}px 0 {{section.settings.pb}}px;
}
.grid-wrapper .splide__arrow{
  position: static;
  transform: translateY(0);
  background: none;
  width: auto;
  height: auto;
}
.grid-wrapper .splide__pagination{
  position: static;
  counter-reset: pagination-num;
}
.grid-wrapper .splide__arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.grid-wrapper .splide__arrow svg{
  height: auto;
  width: auto;
  transform: none;
}
.grid-wrapper .splide__pagination__page{
  width: 25px;
  font-size: 12px;
  color: #25282A;
  background: none;
  height: 15px;
}
.grid-wrapper .splide__pagination__page.is-active{
  background: none;
  transform: scale(1);
  opacity: 1;
}
.grid-wrapper .splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
}
.grid-wrapper .content-box{
  padding: 16px 16px 0;
}
.grid-wrapper .content-box .block-title{
  color: #25282A;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 0.7px;
}
.grid-wrapper .content-box .block-text{
  color: #25282A;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.6px;
  margin: 8px 0 4px;
}
.grid-wrapper .content-box .block-content{
  color: #25282A;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.8px;
  letter-spacing: 0.6px;
}
.grid-wrapper .img-box{
  position: relative;
}
.grid-wrapper .img-box .mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.grid-wrapper .img-box:hover .mask{
  opacity: 1;
}
.grid-wrapper .img-box .mask a{
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.9px;
  padding: 2px 12px;
  text-align: center;

  border-radius: 2px;
  border: 0.7px solid #FFF;
  background: rgba(37, 40, 42, 0.40);
}

@media screen and (max-width: 999px){
  #shopify-section-{{section.id}} {
    padding: {{section.settings.pt_m}}px 0 {{section.settings.pb_m}}px;
  }
  .grid-wrapper .splide__arrows{
    margin-top: 40px;
  }
}
@media screen and (max-width: 699px) {
  .grid-wrapper .content-box{
    padding: 16px 0 0;
  }
}
</style>

<div class="grid-wrapper">
  <div class="grid-splide splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
            <div class="splide__slide">
              {% if block.settings.img != blank %}
                <div class="img-box">
                  <picture>
                    {{- block.settings.img | image_url: width: block.settings.img.width | image_tag: sizes: '100vw', widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
                  </picture>
                  <div class="mask">
                    <a {% if block.settings.url != blank %}href="{{ block.settings.url }}" target="_blank"{% endif %}>Voice{{forloop.index}}</a>
                  </div>
                </div>
              {% endif %}
              <div class="content-box">
                {% if block.settings.title != blank %}
                  <div class="block-title">{{ block.settings.title }}</div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="block-text">{{ block.settings.text }}</div>
                {% endif %}
                {% if block.settings.content != blank %}
                  <div class="block-content">{{ block.settings.content }}</div>
                {% endif %}
              </div>
            </div>
        {% endfor %}
      </ul>
    </div>

    {% comment %} <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        {% render 'block-prev' %}
      </button>
      <ul class="splide__pagination"></ul>
      <button class="splide__arrow splide__arrow--next">
        {% render 'block-next' %}
      </button>
    </div> {% endcomment %}

    
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const gridSplide_{{section.index}} = new Splide('#shopify-section-{{section.id}} .grid-splide', {
      type: 'loop',
      drag: true,          
      arrows: false,        
      pagination: false,    
      gap: 16,
      // direction: 'ltr',
      autoScroll: {
        speed: 0.4,          
        pauseOnHover: true,
      },
      grid: {
        rows: 1,
        cols: 4,
        gap:{
          row: 0,
          col: 16
        }
      },
      breakpoints: {
        1024: {
          gap: 10,
          grid: {
            rows: 1,
            cols: 3,
            gap:{
              row: 0,
              col: 10
            }
          },
        },
        699: {
          gap: 10,
          grid: {
            rows: 1,
            cols: 2,
            gap:{
              row: 0,
              col: 10
            }
          },
        }
      }
    });
    gridSplide_{{section.index}}.mount(window.splide.Extensions);
  });
</script>

{% schema %}
  {
    "name": "project grid",
    "class": "project-grid",
    "tag": "section",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "range",
        "id": "pt",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding top",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding bottom",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pt_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding top Mobile",
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding bottom Mobile",
        "default": 60,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Vanessa"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Famous architectural designer"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "Aest Studios will be your top choice in 2025"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "project grid"
      }
    ]
  }
{% endschema %}