<style>
#shopify-section-{{section.id}} {
  padding: {{section.settings.pt}}px 0 {{section.settings.pb}}px;
}

@media screen and (max-width: 999px){
  #shopify-section-{{section.id}} {
    padding: {{section.settings.pt_m}}px 0 {{section.settings.pb_m}}px;
  }
}
@media screen and (max-width: 699px) {

}
</style>

<div class="grid-wrapper">
  <div class="swiper grid-swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
          <div class="swiper-slide">
            {% if block.settings.img != blank %}  
              <picture>
                {{- block.settings.img | image_url: width: block.settings.img.width | image_tag: sizes: '100vw', widths: '300,400,500,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
              </picture>
            {% endif %}
          </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let gridSwiper = new Swiper('.grid-swiper', {
      slidesPerView: 4,
      spaceBetween: 16,
      speed: 5000, // 过渡动画时间，设置较长使滚动更平滑
      autoplay: {
        delay: 0, // 无延迟，立即开始
        disableOnInteraction: true, // 用户交互后依然继续自动播放
      },
      grid: {
        fill: 'row',
        rows: 3
      }
    })
  });
</script>

{% schema %}
  {
    "name": "project grid",
    "class": "project-grid",
    "tag": "section",
    "disabled_on": {
      "groups": ["footer", "header"]
    },
    "settings": [
      {
        "type": "range",
        "id": "pt",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding top",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb",
        "min": 0,
        "max": 160,
        "step": 2,
        "label": "Padding bottom",
        "default": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pt_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding top Mobile",
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pb_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Padding bottom Mobile",
        "default": 60,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Vanessa"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Famous architectural designer"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content",
            "default": "Aest Studios will be your top choice in 2025"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "project grid"
      }
    ]
  }
{% endschema %}