{%- if section.blocks.size > 0 -%}
  {%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}
<style>
  
  .aest-faq-box .faq__content{
    flex-basis:1000px;
  }

  .aest-line{
    width:100%;
    border-bottom:1px solid #aaa;
    margin-top:10px;
    margin-bottom:10px;
  }
</style>
  <div class="aest-faq-box section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <div class="container container--md">
      <div class="section-stack">
        
        <div class="faq">
          {%- assign categories_blocks = section.blocks | where: 'type', 'category' -%}

          {%- if section.settings.show_categories and categories_blocks.size > 0 -%}
            <faq-toc class="faq__toc hidden md:grid">
              {%- for block in categories_blocks -%}
                <a class="faq__toc-item {% if forloop.first %}is-active{% endif %}" href="#block-{{ block.id }}">{{ block.settings.title }}</a>
              {%- endfor -%}
            </faq-toc>
          {%- endif -%}

          <div class="faq__content">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'category' -%}
                  {%- if block.settings.title != blank -%}
                    <p id="block-{{ block.id }}" class="faq__category h4" {{ block.shopify_attributes }}>
                    {%- if block.settings.custom_icon != blank -%}
                      {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                      {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
                      {%- capture style -%}--image-max-width: {{ block.settings.icon_width }}px{%- endcapture -%}

                      {{- block.settings.custom_icon | image_url: width: block.settings.custom_icon.width | image_tag: sizes: sizes, widths: widths, class: 'constrained-image', style: style -}}
                    {%- elsif block.settings.icon != 'none' -%}
                      {%- render 'icon' with block.settings.icon, width: block.settings.icon_width -%}
                    {%- endif -%}

                      {{- block.settings.title -}}
                    </p>
                  {%- endif -%}

                
              {%- endcase -%}
            {%- endfor -%}
           
            <div>
               {{ block.settings.content }}
            </div>
            

            <div style="text-align:center;width:100%;margin-bottom:50px;margin-top:20px;">
              <button id="my-button" class="button" onclick="location='/pages/returns-form-plus'">START A RETURN OR EXCHANGE</button>
            </div>
            
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                

                {%- when 'question' -%}
                  {%- if block.settings.question != blank and block.settings.answer != blank -%}
                    {%- capture answer -%}
                      <div class="prose">
                        {{- block.settings.answer -}}
                      </div>
                    {%- endcapture -%}

                    {%- render 'accordion', title: block.settings.question, content: answer, show_title_as_text: true, block: block -%}
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- comment -%}We also output the content with JSON microdata for SEO{%- endcomment -%}

  <script type="application/ld+json">
    {%- assign question_blocks = section.blocks | where: 'type', 'question' -%}

    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {%- for block in question_blocks -%}
          {
            "@type": "Question",
            "name": {{ block.settings.question | json }},
            "acceptedAnswer": {
              "@type": "Answer",
              "text": {{ block.settings.answer | json }}
            }
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "returns",
  "class": "shopify-section--faq",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_categories",
      "label": "t:sections.faq.show_categories"
    },
    {
      "type": "header",
      "content": "t:global.section.header_category"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:global.text.subheading",
      "default": "Need help?"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:global.text.content",
      "default":"<p>We are committed to providing you with high-quality bags and a premium shopping experience. If you are not satisfied with your order, you can apply for a return or exchange according to the following policy.</p>"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "t:sections.faq.blocks.category.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:global.text.title",
          "default": "Category"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:global.icons.icon",
          "options": [
            {
              "value": "none",
              "label": "t:global.icons.none"
            },
            {
              "value": "picto-award-gift",
              "label": "t:global.icons.award_gift",
              "group": "t:global.icons.shop_category"
            },
            {
              "value": "picto-bag-handle",
              "label": "t:global.icons.bag_handle",
              "group": "t:global.icons.shop_category"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:global.icons.custom_icon",
          "info": "t:global.icons.custom_icon_info"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 12,
          "max": 32,
          "step": 4,
          "unit": "px",
          "label": "t:global.icons.icon_width",
          "default": 16
        }
      ]
    },
    {
      "type": "question",
      "name": "t:sections.faq.blocks.question.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "question",
          "label": "t:sections.faq.blocks.question.question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "t:sections.faq.blocks.question.answer",
          "default": "<p>Write a clear and concise answer to guide your customers.</p>"
        }
      ]
    },
    {
      "type": "return_item",
      "name": "t:sections.return.blocks.item.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "question",
          "label": "t:sections.return.blocks.item.title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "t:sections.return.blocks.item.content",
          "default": "<p>Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.faq.name",
      "blocks": [
        {
          "type": "category",
          "settings": {
            "title": "Order"
          }
        },
        {
          "type": "question",
          "settings": {
            "question": "Do you ship overseas?",
            "answer": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "question": "How long will it take to get my orders?",
            "answer": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "question": "Any question?",
            "answer": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}