{% assign sid = section.id %}
<style>
    #shopify-section-{{sid}}{
        {%if section.settings.type == 'padding' %}
            padding-top:{{section.settings.top |  append: 'px'}};
            padding-bottom:{{section.settings.bottom |  append: 'px'}};
            {%  else %} 
            margin-top:{{section.settings.top |  append: 'px'}};
            margin-bottom:{{section.settings.bottom |  append: 'px'}};
            {%  endif %} 
    } 
    #shopify-section-{{sid}} .container {
        display: flex;
        gap: 24px;
        overflow-x: auto;
        scrollbar-width: none;
    }
    #shopify-section-{{sid}} a{
        flex-shrink: 0;
        color: #25282A;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4; /* 140% */
        letter-spacing: 0.6px;
    }
    @media (max-width:767px){
        #shopify-section-{{sid}}{
            {%if section.settings.type == 'padding' %}
                padding-top:{{section.settings.top_m |  append: 'px'}};
                padding-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  else %} 
                margin-top:{{section.settings.toptop_m |  append: 'px'}};
                margin-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  endif %} 
        }   
    }
</style>

<div class="container">
    <div class="">
        
    </div>
</div>

{% schema %}
{
    "name": "Section column media",
    "class": "custom-section-column-media",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Button text",
            "default":"SEE MORE"
        },
        {
            "type": "select",
            "id": "type",
            "default":"margin",
            "label": "Padding or Margin",
            "options": [
                {
                    "label": "Padding",
                    "value": "padding"
                },
                {
                    "label": "Margin",
                    "value": "margin"
                }
            ]
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        {
          "type": "range",
          "id": "top",
          "label": "Top",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom",
          "label": "Bottom",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
            "type": "header",
            "content": "mobile"
        },
        {
          "type": "range",
          "id": "top_m",
          "label": "Top",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom_m",
          "label": "Bottom",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "item",
            "settings": [
                {
                    "type": "color",
                    "id": "color",
                    "label": "Text color",
                    "default":"#fff"
                },
                {
                    "type":"select",
                    "id":"type",
                    "label": "选用类型",
                    "default":"img",
                    "options": [
                    {
                        "label": "图片",
                        "value": "img"
                    },
                    {
                        "label": "视频",
                        "value": "video"
                    }
                    ]
                },
                {
                    "type": "header",
                    "content": "图片"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "img_m",
                    "label": "Image (mobile)"
                },
                {
                    "type": "header",
                    "content": "视频"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "video (desktop)"
                },
                {
                    "type": "video",
                    "id": "video_m",
                    "label": "video (mobile)"
                },
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Title",
                    "default": "CAMERA BAG"
                },
                {
                    "type": "text",
                    "id": "btn",
                    "label": "Button",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {"name": "Section column media"}
    ]
}
{% endschema %}