{% assign sid = section.id %}
<style>
    #shopify-section-{{sid}}{
        {%if section.settings.type == 'padding' %}
            padding-top:{{section.settings.top |  append: 'px'}};
            padding-bottom:{{section.settings.bottom |  append: 'px'}};
        {%  else %} 
            margin-top:{{section.settings.top |  append: 'px'}};
            margin-bottom:{{section.settings.bottom |  append: 'px'}};
        {%  endif %} 
    } 
    #shopify-section-{{sid}} .container {
        display: flex;
        gap: 24px;
        overflow-x: auto;
        scrollbar-width: none;
    }
    #shopify-section-{{sid}} .container_inner{
        width: 100%;
        max-width: 1680px;
        margin: 0 auto;
    }
    #shopify-section-{{ sid }} .items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #shopify-section-{{ sid }} .item{
      position: relative;
    }
    #shopify-section-{{ sid }} .media video,
    #shopify-section-{{ sid }} .media img{
      width:100%;
      height:100%;
      display:block;
      object-fit:cover;
      object-position: center;
    }
    #shopify-section-{{ sid }} .item .info{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      text-align: center;
      color:var(--color);
    }
    #shopify-section-{{ sid }} .item .info .item_title{
      color: inherit;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.4; /* 140% */
      letter-spacing: 1.1px;
    }
    #shopify-section-{{ sid }} .item .info .item_btn{
      margin: 4px;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      color: inherit;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4; /* 140% */
      letter-spacing: 0.6px;
      transition:all 0.3s ease-in;
      border-radius: 2px;
      border: 1px solid transparent;
      padding: 0 7px;
    }
    #shopify-section-{{ sid }} .item .info .item_btn svg{
      display: block;
    }
    #shopify-section-{{ sid }} .item .info .item_btn:hover{
      border-color:var(--color);
      background: rgba(37, 40, 42, 0.40);
    }
    #shopify-section-{{ sid }} .see_more{
        color: #25282A;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4; /* 140% */
        letter-spacing: 0.6px;
        text-align: center;
        margin-top: 80px;
    }
    @media (min-width:768px){
      #shopify-section-{{ sid }} .item{
        width: calc(50% - 10px);
      }
      #shopify-section-{{ sid }} .media video.mobile{display:none;}
    }
    @media (max-width:767px){
        #shopify-section-{{ sid }} .media video.desktop{display:none;}
        #shopify-section-{{sid}}{
            {%if section.settings.type == 'padding' %}
                padding-top:{{section.settings.top_m |  append: 'px'}};
                padding-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  else %} 
                margin-top:{{section.settings.toptop_m |  append: 'px'}};
                margin-bottom:{{section.settings.bottom_m |  append: 'px'}};
            {%  endif %} 
        }   
        #shopify-section-{{ sid }} .items{
            flex-direction: column;
        } 
    }
</style>

<div class="container">
    <div class="container_inner">
        <div class="items">
            {% for block in section.blocks %} 
                {% liquid 
                  assign bs = block.settings
                  assign color = bs.color
                  assign type = bs.type
                  assign title = bs.title
                  assign btn = bs.btn
                  assign link = bs.link
                  assign pc_image = bs.img
                  assign mobile_image = bs.img_m
                  assign alt = bs.img.alt
                  assign pc_video = bs.video
                  assign mobile_video = bs.video_m
                %}
                <div class="item {% if forloop.index > 6 %} hidden {% endif %}" style="--color:{{color}};">
                  <div class="media">
                    {% if type == 'img' %}
                      {% if pc_image != blank %}
                        <picture>
                          {% if mobile_image != blank %}
                          <source
                            srcset="{{ mobile_image | img_url: '750x' }}"
                            media="(max-width: 375px)"
                          >
                          <source
                            srcset="{{ mobile_image | img_url: '1000x' }}"
                            media="(max-width: 767px)"
                          >
                          {% endif %}
                          <source
                            srcset="{{ pc_image | img_url: '2160x' }}"
                            media="(max-width: 1080px)"
                          >
                          <img src="{{ pc_image | img_url: '2400x' }}" alt="{{ alt }}" loading="lazy" width="auto" height="100%">
                        </picture>
                      {% endif %}
                    {% else %}
                      {% if pc_video != blank %}
                        {{ pc_video | video_tag: autoplay: true, loop: true, muted: true, image_size: 'master', class:"desktop" }}
                      {% endif %}
                      {% if mobile_video != blank %}
                        {{ mobile_video | video_tag: autoplay: true, loop: true, muted: true, image_size: 'master', class:"mobile" }}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="info">
                    {% if title != blank %}
                      <h3 class="item_title">{{ title }}</h3>
                    {% endif %}
                    {% if btn != blank %}
                      <a class="item_btn" href="{{link}}"><span>{{btn}}</span>{{arrow_right}}</a>
                    {% endif %}
                  </div>
                </div>
            {% endfor %}
        </div>
        {% if section.blocks.size > 6 %}
            <div class="see_more">
                <span>{{section.settings.text}}</span>
                <svg width="76" height="17" viewBox="0 0 76 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.82955 6.45455C5.77841 6.02273 5.57102 5.6875 5.20739 5.44886C4.84375 5.21023 4.39773 5.09091 3.86932 5.09091C3.48295 5.09091 3.14489 5.15341 2.85511 5.27841C2.56818 5.40341 2.34375 5.57528 2.18182 5.79403C2.02273 6.01278 1.94318 6.26136 1.94318 6.53977C1.94318 6.77273 1.99858 6.97301 2.10938 7.14062C2.22301 7.3054 2.3679 7.44318 2.54403 7.55398C2.72017 7.66193 2.90483 7.75142 3.09801 7.82244C3.29119 7.89062 3.46875 7.94602 3.63068 7.98864L4.51705 8.22727C4.74432 8.28693 4.99716 8.36932 5.27557 8.47443C5.55682 8.57955 5.82528 8.72301 6.08097 8.90483C6.33949 9.08381 6.55256 9.31392 6.72017 9.59517C6.88778 9.87642 6.97159 10.2216 6.97159 10.6307C6.97159 11.1023 6.84801 11.5284 6.60085 11.9091C6.35653 12.2898 5.99858 12.5923 5.52699 12.8168C5.05824 13.0412 4.48864 13.1534 3.81818 13.1534C3.19318 13.1534 2.65199 13.0526 2.1946 12.8509C1.74006 12.6491 1.3821 12.3679 1.12074 12.0071C0.862216 11.6463 0.715909 11.2273 0.681818 10.75H1.77273C1.80114 11.0795 1.91193 11.3523 2.10511 11.5682C2.30114 11.7812 2.5483 11.9403 2.84659 12.0455C3.14773 12.1477 3.47159 12.1989 3.81818 12.1989C4.22159 12.1989 4.58381 12.1335 4.90483 12.0028C5.22585 11.8693 5.48011 11.6847 5.66761 11.4489C5.85511 11.2102 5.94886 10.9318 5.94886 10.6136C5.94886 10.3239 5.8679 10.0881 5.70597 9.90625C5.54403 9.72443 5.33097 9.5767 5.06676 9.46307C4.80256 9.34943 4.51705 9.25 4.21023 9.16477L3.13636 8.85795C2.45455 8.66193 1.91477 8.3821 1.51705 8.01847C1.11932 7.65483 0.920455 7.17898 0.920455 6.59091C0.920455 6.10227 1.05256 5.67614 1.31676 5.3125C1.58381 4.94602 1.94176 4.66193 2.39062 4.46023C2.84233 4.25568 3.34659 4.15341 3.90341 4.15341C4.46591 4.15341 4.96591 4.25426 5.40341 4.45597C5.84091 4.65483 6.1875 4.92756 6.44318 5.27415C6.7017 5.62074 6.83807 6.0142 6.85227 6.45455H5.82955ZM9.30916 13V4.27273H14.5762V5.21023H10.366V8.15909H14.3035V9.09659H10.366V12.0625H14.6444V13H9.30916ZM17.081 13V4.27273H22.3481V5.21023H18.1379V8.15909H22.0754V9.09659H18.1379V12.0625H22.4163V13H17.081ZM28.8279 4.27273H30.0893L33.0552 11.517H33.1575L36.1234 4.27273H37.3847V13H36.3961V6.36932H36.3109L33.5836 13H32.629L29.9018 6.36932H29.8165V13H28.8279V4.27273ZM47.4673 8.63636C47.4673 9.55682 47.3011 10.3523 46.9688 11.0227C46.6364 11.6932 46.1804 12.2102 45.6009 12.5739C45.0213 12.9375 44.3594 13.1193 43.6151 13.1193C42.8707 13.1193 42.2088 12.9375 41.6293 12.5739C41.0497 12.2102 40.5938 11.6932 40.2614 11.0227C39.929 10.3523 39.7628 9.55682 39.7628 8.63636C39.7628 7.71591 39.929 6.92045 40.2614 6.25C40.5938 5.57955 41.0497 5.0625 41.6293 4.69886C42.2088 4.33523 42.8707 4.15341 43.6151 4.15341C44.3594 4.15341 45.0213 4.33523 45.6009 4.69886C46.1804 5.0625 46.6364 5.57955 46.9688 6.25C47.3011 6.92045 47.4673 7.71591 47.4673 8.63636ZM46.4446 8.63636C46.4446 7.88068 46.3182 7.2429 46.0653 6.72301C45.8153 6.20312 45.4759 5.80966 45.0469 5.54261C44.6207 5.27557 44.1435 5.14205 43.6151 5.14205C43.0866 5.14205 42.608 5.27557 42.179 5.54261C41.7528 5.80966 41.4134 6.20312 41.1605 6.72301C40.9105 7.2429 40.7855 7.88068 40.7855 8.63636C40.7855 9.39205 40.9105 10.0298 41.1605 10.5497C41.4134 11.0696 41.7528 11.4631 42.179 11.7301C42.608 11.9972 43.0866 12.1307 43.6151 12.1307C44.1435 12.1307 44.6207 11.9972 45.0469 11.7301C45.4759 11.4631 45.8153 11.0696 46.0653 10.5497C46.3182 10.0298 46.4446 9.39205 46.4446 8.63636ZM49.8443 13V4.27273H52.7932C53.475 4.27273 54.0347 4.3892 54.4722 4.62216C54.9097 4.85227 55.2335 5.16903 55.4437 5.57244C55.654 5.97585 55.7591 6.43466 55.7591 6.94886C55.7591 7.46307 55.654 7.91903 55.4437 8.31676C55.2335 8.71449 54.9111 9.02699 54.4764 9.25426C54.0418 9.47869 53.4864 9.59091 52.8102 9.59091H50.4239V8.63636H52.7761C53.242 8.63636 53.617 8.56818 53.9011 8.43182C54.1881 8.29545 54.3955 8.10227 54.5233 7.85227C54.654 7.59943 54.7193 7.2983 54.7193 6.94886C54.7193 6.59943 54.654 6.29403 54.5233 6.03267C54.3926 5.77131 54.1838 5.5696 53.8969 5.42756C53.6099 5.28267 53.2307 5.21023 52.7591 5.21023H50.9011V13H49.8443ZM53.9523 9.07955L56.1 13H54.8727L52.7591 9.07955H53.9523ZM58.1201 13V4.27273H63.3871V5.21023H59.1769V8.15909H63.1144V9.09659H59.1769V12.0625H63.4553V13H58.1201Z" fill="#25282A"/><path d="M72.2016 11L69 6H69.9315L72.5 10.1004L72.4186 10.0586H72.5995L72.5181 10.1004L75.0685 6H76L72.8075 11H72.2016Z" fill="#25282A"/></svg>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Section column media",
    "class": "custom-section-column-media",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Button text",
            "default":"SEE MORE"
        },
        {
            "type": "select",
            "id": "type",
            "default":"margin",
            "label": "Padding or Margin",
            "options": [
                {
                    "label": "Padding",
                    "value": "padding"
                },
                {
                    "label": "Margin",
                    "value": "margin"
                }
            ]
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        {
          "type": "range",
          "id": "top",
          "label": "Top",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom",
          "label": "Bottom",
          "max": 200,
          "min": 0,
          "step": 2,
          "unit": "px",
          "default":0
        },
        {
            "type": "header",
            "content": "mobile"
        },
        {
          "type": "range",
          "id": "top_m",
          "label": "Top",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        },
        {
          "type": "range",
          "id": "bottom_m",
          "label": "Bottom",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "px",
          "default":0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "item",
            "settings": [
                {
                    "type": "color",
                    "id": "color",
                    "label": "Text color",
                    "default":"#fff"
                },
                {
                    "type":"select",
                    "id":"type",
                    "label": "选用类型",
                    "default":"img",
                    "options": [
                    {
                        "label": "图片",
                        "value": "img"
                    },
                    {
                        "label": "视频",
                        "value": "video"
                    }
                    ]
                },
                {
                    "type": "header",
                    "content": "图片"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image (desktop)"
                },
                {
                    "type": "image_picker",
                    "id": "img_m",
                    "label": "Image (mobile)"
                },
                {
                    "type": "header",
                    "content": "视频"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "video (desktop)"
                },
                {
                    "type": "video",
                    "id": "video_m",
                    "label": "video (mobile)"
                },
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "Title",
                    "default": "CAMERA BAG"
                },
                {
                    "type": "text",
                    "id": "btn",
                    "label": "Button",
                    "default": "Shop Now"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {"name": "Section column media"}
    ]
}
{% endschema %}