{% capture arrow_left %}    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12" fill="none">    <path d="M0 5.48837L10 0V1.5969L1.79916 6L1.88285 5.86047V6.17054L1.79916 6.03101L10 10.4031V12L0 6.52713V5.48837Z" fill="#25282A"/></svg>{% endcapture %}
{% capture arrow_right %}    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12" fill="none">  <path d="M10 6.51163L0 12L0 10.4031L8.20084 6L8.11715 6.13953V5.82946L8.20084 5.96899L0 1.5969L0 0L10 5.47287V6.51163Z" fill="#25282A"/></svg>{% endcapture %}
{% assign sid = section.id %}
<style>
  #shopify-section-{{sid}} {
      background:#fff;
    }
  #shopify-section-{{sid}} .setion-title-block{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
  #shopify-section-{{sid}} .setion-title-block h3{
    color: #25282A;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
  }
  #shopify-section-{{sid}} .product_ctrl {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  #shopify-section-{{sid}} .product_ctrl svg{
    display: block;
  }
  #shopify-section-{{sid}} .e_product_item{
    max-width:500px;
  }
  #shopify-section-{{sid}} .e_product_item .e_meida{
    position:relative;
  }
  #shopify-section-{{sid}} .e_product_item .e_meida .slide_wrpper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  #shopify-section-{{sid}} .e_product_item .e_meida .slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  #shopify-section-{{sid}} .e_product_item .e_meida .slide_prev_button {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }   
  #shopify-section-{{sid}} .e_product_item .e_meida .slide_next_button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }   
  #shopify-section-{{sid}} .e_product_item:hover .e_meida .slide_prev_button,
  #shopify-section-{{sid}} .e_product_item:hover .e_meida .slide_next_button {
    opacity: 1;
  }
  #shopify-section-{{sid}} .e_product_item .e_meida img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
  }
  #shopify-section-{{sid}} .e_product_item .e_info{
    padding: 12px;
    text-align: left;
  }
  #shopify-section-{{sid}} .e_product_item .e_info h3{
    color: #25282A;
    font-weight: 500;
    font-size:14px; 
    line-height: 1.4;
  }
  #shopify-section-{{sid}} .e_product_item .e_info .short{
    margin-top:4px; 
    color: #25282A;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.6px;
  }
  #shopify-section-{{sid}} .e_product_item .e_info .price-list>*{
    margin-top:4px; 
    color: #25282A;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.6px;
  }
  @media (max-width:1024px){
    #shopify-section-{{sid}} .e_product_item .e_info h3{
    }
    #shopify-section-{{sid}} .e_product_item .e_info .price{
    }
  }
  @media (max-width:767px){
    #shopify-section-{{sid}} {
      margin:60px 0;
    }
    #shopify-section-{{sid}} .section-product-popup_swiper{
      padding:0 max(var(--container-gutter),50% - var(--container-max-width) / 2);
    }
    #shopify-section-{{sid}} .e_product_item .e_info h3{
    }
    #shopify-section-{{sid}} .e_product_item .e_info .price{
    }
  }
</style>

<div class="section-product-popup section-spacing">
  <div class="container">
      <div class="setion-title-block">
        <h3>{{section.settings.title}}</h3>
        <div class="product_ctrl">
            <div class="prev_button">{{arrow_left}}</div>
            <div class="next_button">{{arrow_right}}</div>
        </div>
      </div>
  </div>
  <div class="swiper section-product-popup_swiper">
    <div class="swiper-wrapper">

      {% for block in section.blocks %} 
        {% liquid
          assign bs = block.settings
          assign product = bs.product
        %}
        <div class="swiper-slide">
          <div class="e_product_item">
              <div class="e_meida">
                <div class="slide_prev_button" data-current = "0">{{arrow_left}}</div>
                <div class="slide_wrpper" data-total = "{{product.images.size}}">
                    {% for img in product.images %}
                        <div class="slide {% if forloop.first %} is_active {% endif %}" data-index = "{{forloop.index0}}" data-img-id="{{ img.id }}">
                            {{ img | image_url: width: '500x' | image_tag }}
                        </div>
                    {% endfor %}
                </div>
                <div class="slide_next_button" data-current = "0">{{arrow_right}}</div>
              </div>
              <div class="e_info">
                <h3>{{ product.title }}</h3>
                {% if product.metafields.custom.short.value != blank %} 
                  <p class="short">{{product.metafields.custom.short.value}}</p>
                {% endif %}
                {%- render 'price-list', product: product, context: 'card' -%}
              </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>  
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let seciton_product_popup_siwper{{section.index}} = new Swiper('#shopify-section-{{ sid }} .section-product-popup_swiper', {
      spaceBetween: 16,
      slidesPerView: 4,
      navigation: {
        prevEl: '#shopify-section-{{ sid }} .product_ctrl .prev_button',
        nextEl: '#shopify-section-{{ sid }} .product_ctrl .next_button',
      },
      breakpoints: { 
        320: { 
          slidesPerView: 1.4,
          spaceBetween: 8
        },
        768: {   
          slidesPerView: 3,
          spaceBetween: 12
        },
        1280: {  
          slidesPerView: 4,
          spaceBetween: 16
        }
      }
    });

    $('#shopify-section-{{sid}} .e_product_item .e_meida .slide_next_button').on('click',function(){
        let el = $(this);
        let $container = el.prev();
        let $items = el.prev().children();
        let currentIndex = el.attr('data-current');
        if (currentIndex < $items.length - 1) {
            el.attr('data-current',currentIndex++);
            // $container.find
            console.log(currentIndex);
            updateActiveItem($container, $items, currentIndex)
        }
    });

    function updateActiveItem($container,$items,currentIndex) {
        const $activeItem = $items.eq(currentIndex);

        if ($activeItem.length) {
            const containerRect = $container[0].getBoundingClientRect();
            const itemRect = $activeItem[0].getBoundingClientRect();

            if (itemRect.right > containerRect.right) {
                $container.scrollLeft($container.scrollLeft() + (itemRect.right - containerRect.right));
            } else if (itemRect.left < containerRect.left) {
                $container.scrollLeft($container.scrollLeft() - (containerRect.left - itemRect.left));
            }
        }
    }

  })
</script>

{% schema %}
  {
    "name": "Section product popup",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"You May Also Like"
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name":"product",
        "settings":[
          {
            "type": "product",
            "id": "product",
            "label": "product"
          },
          {
              "type": "image_picker",
              "id": "img1",
              "label": "image "
            },
            {
              "type": "image_picker",
              "id": "img2",
              "label": "image （hover）"
            }
        ]
      }
    ],
    "presets":[
      {
        "name": "Section product popup"
      }
    ]
  }
{% endschema %}